button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: darkcyan;
  letter-spacing: 5px;
  color: azure;
}

#active:hover{
  background-color: blueviolet;
}

.red{
  letter-spacing: 5px;
  color: firebrick;
}
